#editor {
  height: 600px;
  width: 50%;
  font-size: 20px;
  flex: 55%;
}

main {
  display: flex;
  justify-content: center;
  gap: 10px;

  color: beige;
}

@media (max-width: 1160px) {
  main {
    flex-direction: column;
  }
}

.output {
  flex: 45%;
}

.btn {
  background-color: #2a3439;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 11px;
  font-size: 22px;
  cursor: pointer;
  margin-top: 5px;
}

.btn:hover {
  background-color: rgba(42, 52, 57, 0.7);
}
